---
layout: impact
title: Why does it matter if I get it if you have?  
subtitle: 'Read how low vaccination rates and increased hospital rates affect more than just "you."'
share-img: https://getthedamnvaccine.com/assets/img/header_red.png
share-description: Read how low vaccination rates and increased hospital rates affect more than just you
url: https://getthedamnvaccine.com/impact
---

<center>
  <small>
    {% include social-share.html %}
  </small>
</center>
