---
layout: page
---

<h1>Submit a vaccine story</h1>
<div class="alert alert-light" role="alert">
  <small>
    We will never share your name or contact information. <br />
    We will only use that information to verify any story submitted.
  </small>
</div>

<form name="contact" method="POST" data-netlify="true">
  <div class="form-group">
    <label for="inputName">Your Name</label>
    <input
      type="text"
      class="form-control"
      id="inputName"
      name="name"
      placeholder="Jane Smith"
    />
  </div>

  <div class="form-group">
    <label for="inputEmail">Your Email</label>
    <input
      type="text"
      class="form-control"
      id="inputEmail"
      name="email"
      placeholder="jsmith@example.com"
    />
  </div>

  <div class="form-group">
    <label for="inpurtURL">Story URL</label>
    <input
      type="text"
      class="form-control"
      id="inpurtURL"
      name="url"
      placeholder="https://nytimes.com/"
    />
  </div>

  <div class="form-group">
    <label for="txtMessage">Message</label>
    <textarea
      class="form-control"
      id="txtMessage"
      name="message"
      rows="3"
    ></textarea>
  </div>

  <p>
    <button class="btn btn-primary btn-lg" type="submit">Send</button>
  </p>
</form>
