---
layout: page
---

{{ content }}

<div class="posts-list">
  {% for post in site.data.stories %}
  <article class="post-preview">
    <a href="{{ post.url | absolute_url }}" target="_blank">
      <h2 class="post-title">{{ post.title }}</h2>
    </a>

    {% if post.date %}
    <p class="post-meta">
      {% assign date_format = site.date_format | default: "%B %-d, %Y" %} Posted
      on {{ post.date | date: date_format }}
    </p>
    {% endif %} {% if post.subtitle %}
    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
    {% endif %}

    <div class="post-entry">
      &mdash; {{post.source }}
      <a
        href="{{ post.url | absolute_url }}"
        class="post-read-more"
        target="_blank"
        >[Read&nbsp;More]</a
      >
    </div>
  </article>
  {% endfor %}
</div>
